.card {
    min-height: 100px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    min-width: 230px;
    padding-bottom: 10px;
}
img {
    width: auto;
    height: 100px;
}