.App {
  text-align: center;
  background: rgba(126, 126, 126, 0.89);
}
.Background{
  min-width: 1000px;
  min-height: 500px;
  background: url("http://lorempixel.com/output/city-q-c-1000-500-1.jpg") 50% 50% no-repeat;
}
